<div class="page-header">
  <h1>Date #<%= @date.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Interest</dt>
  <dd><%= @date.interest %></dd>

  <dt>Preference</dt>
  <dd><%= @date.preference %></dd>

  <dt>Age range</dt>
  <dd><%= @date.age_range %></dd>

  <dt>User</dt>
  <dd><%= @date.user_id %></dd>

  <dt>Event</dt>
  <dd><%= @date.event_id %></dd>

  <dt>Price</dt>
  <dd><%= @date.price %></dd>

  <dt>Number tickets</dt>
  <dd><%= @date.number_tickets %></dd>

  <dt>Date time</dt>
  <dd><%= @date.date_time %></dd>

  <dt>Details</dt>
  <dd><%= @date.details %></dd>

</dl>
