<div class="page-header">
  <h1>My Matches</h1>
</div>

<p><a href="/userdates/new" class="btn btn-primary">Got Tickets? Post Your Date</a></p>

<p> <%= link_to "Back", :back, :class => "btn btn-default" %> </p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Host</th>
      <th>Price</th>
      <th>Number of Tickets</th>
      <th>Date</th>
      <th>Details</th>
      <th>Accepted?</th>
      <th>View Date</th>
    </tr>
  </thead>

  <tbody>
    <% @mymatches.each do |match| %>
      <tr>
        <td><%= match.userdate.eventname %></td>
        <td><%= User.find(match.userdate.user_id).email %></td>
        <td><%= match.userdate.price %></td>
        <td><%= match.userdate.number_tickets %></td>
        <td><%= match.userdate.date_time %></td>
        <td><%= match.userdate.details %></td>
        <td><%= match.accepted %></td>
        <td>
          <a href="/userdates/<%= match.userdate.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
