<div class="page-header">
  <h1>Dates</h1>
</div>

<p><a href="/userdates/new" class="btn btn-primary">Got Tickets? Post Your Date</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Event</th>
      <th>User</th>
      <th>Interest</th>
      <th>Preference</th>
      <th>Price</th>
      <th>Number of tickets</th>
      <th>Date</th>
      <th>Details</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @userdates.each do |userdate| %>
      <tr>
        <td><%= userdate.eventname %></td>
        <td><%= User.find(userdate.user_id).email %></td>
        <td><%= userdate.interest %></td>
        <td><%= userdate.preference %></td>
        <td><%= userdate.price %></td>
        <td><%= userdate.number_tickets %></td>
        <td><%= userdate.date_time %></td>
        <td><%= userdate.details %></td>
        <td>
          <a href="/userdates/<%= userdate.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <% if userdate.user_id == current_user.id %>
        <td>
          <a href="/userdates/<%= userdate.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_userdate/<%= userdate.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

