<div class="page-header">
  <h1>Userdate #<%= @userdate.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Interest</dt>
  <dd><%= @userdate.interest %></dd>

  <dt>Preference</dt>
  <dd><%= @userdate.preference %></dd>

  <dt>Age range</dt>
  <dd><%= @userdate.age_range %></dd>

  <dt>User</dt>
  <dd><%= @userdate.user_id %></dd>

  <dt>Event</dt>
  <dd><%= @userdate.event_id %></dd>

  <dt>Price</dt>
  <dd><%= @userdate.price %></dd>

  <dt>Number tickets</dt>
  <dd><%= @userdate.number_tickets %></dd>

  <dt>Date time</dt>
  <dd><%= @userdate.date_time %></dd>

  <dt>Details</dt>
  <dd><%= @userdate.details %></dd>

</dl>
